:root {
  --color-primary: #A45B34;
  --color-secondary: #F3EDDA;
  --color-green: #8ea604;
  --color-darkblue: #273043;
  --color-blue: #7389AE;
  --color-white: #ffffff;
  --size-mobile: 320px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Domaine Display', sans-serif;
  color: var(--color-darkblue);
  font-size: 1.1rem;
}

h1 {
  font-size: 3rem;
  font-family: "Sofia", sans-serif;
  color: var(--color-primary);
}

h2 {
  font-weight: bolder;
  color: var(--color-primary);
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-darkblue);
}